langchain
langchain-core
langchain-community
langchain_text_splitters
pypdf
pymupdf
tqdm
sentence-transformers
faiss-cpu
chromadb==0.5.23
langchain-groq
python-dotenv
typesense
langchain-huggingface
langchain_openai
langgraph
langsmith
beautifulsoup4
lxml
pandas